html, body {
    height: 100%; /* Make the full page height 100% */
}

body{
    flex-direction: column;
    display: flex;
    background-color: #f8f9fa;
}

p{
  font-family: "Roboto", serif;
}

.cardHead{
  font-size: 2rem;
  font-family: "Cherry Swash", serif;
}


.customHeader {
     background-color: #0056b3; /* Deep blue */
    background-image: linear-gradient(#0056b3, #004a9a)
}


.container-fluid {
    padding-left: 0 !important; /* Remove any padding */
    margin-left: 0 !important; /* Remove any margins */
  }

  .text-section {
    font-size: 1.5rem;
    padding: 50px 20px;
    text-align: center;
}

.menu-heading {
    background-color: #0056b3;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    display: inline-block;
    margin: 0 auto;
}

.hero-section {
    color: #fff; /* Switch to white text for better contrast */
    text-align: center;
    padding: 6.25rem 0 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-section h1 {
  font-family: "Cherry Swash", serif;
    font-size: 4rem;
    font-weight: bold;
}

.hero-section h2 {
  font-family: "Cherry Swash", serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: #BF0A30;
    border-color: #BF0A30;
}
.btn-primary:hover {
    background-color: #A50C28;
    border-color: #A50C28;
}

.feature-card {
    box-shadow: #000 0px 0px 10px;
    background-color: #BF0A30;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #0056b3; 
  }
  
  .footer p {
    color: #fff; 
    margin: 0;
  }
  
  .social-icons {
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    margin: 0 0.5rem;
    color: #fff; 
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .social-icons a:hover {
    color: #A50C28; 
  }

  .nav-link {
    font-family: "Poppins", serif;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;}

  .nav-link:hover {
    background-color: #A50C28;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
/*Menu page*/

